$color-gray-4D: #4d4d4d;
$color-red-BA: #C8455C;
$color-gray-D8: #dfe8ee;
$color-gray-E6: #E6E6E6;

$font-encode: 'Encode Sans', sans-serif;
$font-encode-cond: 'Encode Sans Condensed', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-lato: 'Lato', sans-serif;
